<div class="container">
  <div class="todo-wrapper" ng-controller="TodoCtrl">
    <div class="todo-header">
      <p>Todo List</p>
      <div class="add-list-item-wrapper">
        <form ng-submit="addItem()" name="myForm" class="clearfix">
          <input type="text" name="listTest" id="add-list-item" placeholder="Add task..." ng-model="itemName" required />
          <button name="" id="submit"><p>+</p></button>
        </form>
      </div>
    </div>
    <ul class="todo-list">
      <li class="task-item" ng-repeat="task in taskList track by $index">
        <span class="index">{{$index + 1}}.</span>
        <span class="task-name">{{task.name}}</span>
        <i class="delete fa fa-trash-o" ng-click="deleteItem($index)"></i>
      </li>
    </ul>
  </div>
</div>
